{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid pt-5" >
    <h2 style="margin-left: 350px;">OrderSummary</h2>
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">

                        <tr>
                            <th>Number</th>
                            <th>Item Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Item Price</th>
                            <th>Remove</th>
                            <th>SavingAmount</th>
                        </tr>

                    </thead>
                    <tbody class="align-middle">
                    {% for order_item in object.items.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"> {{ order_item.item.title}}</td>
                            {% if order_item.item.discount_price %}
                            <td class="align-middle">{{ order_item.item.discount_price }}</td>
                            {% else %}
                              <td class="align-middle">{{ order_item.item.price }}</td>
                            {% endif %}
                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="{% url 'Orders:remove-single-item' order_item.item.slug %}" data-slug="{{ order_item.item.slug }}" class="btn btn-sm btn-primary btn-minus" id="cart-mines">
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" id="input-id" min="1" max="10" class="form-control form-control-sm bg-secondary text-center" value="{{ order_item.quantity }}">
                                    <div class="input-group-btn">
                                        <a href="{% url 'Orders:add-single-item' order_item.item.slug %}" data-slug="{{ order_item.item.slug }}"  class="btn btn-sm btn-primary btn-plus" id="cart-plus">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                           {% if order_item.item.price %}
                            <td class="align-middle" id="get-total-price">{{ order_item.get_total_item_price }}</td>
                           {% elif order_item.item.discount_price != 0 %}
                              <td class="align-middle">{{ order_item.get_total_discount_item_price }}</td>
                           {% else %}
                                 <td class="align-middle">{{ order_item.get_total_item_price }}</td>
                        {% endif %}
                            <td class="align-middle">
                                <a class="btn btn-sm btn-primary" id="remove-cart-summary" data-slug="{{ order_item.item.slug }}"><i class="fa fa-times"></i>
                                </a></td>
                        {% if order_item.item.discount_price == 0 %}
                            <td class="align-middle bg bg-warning text-white" id='save-amount'> 0$ </td>
                        {% elif order_item.item.discount_price != 0 %}
                      <td class="align-middle bg bg-warning text-white" id='save-amount'> ${{ order_item.get_amount_save }} </td>
                            {% elif order_item.item.price %}
                             <td class="align-middle bg bg-warning text-white" id='save-amount'> 0$
                              {% endif %}

                             </td>

                        </tr>


                       {% endfor %}
                   <tr id="remove-cart">
                    <td colspan="4">Order Total</td>
                     {% if object.get_total != 0 %}
                    <td colspan="4" id="order-total-price">{{ object.get_total }}</td>
                       {% else %}
                         <td colspan="4" class="text-danger" id="order-total-price" >you dont have item in your cart</td>
                       {% endif %}
                   </tr>

                    <tr>
                        {% if object.get_total != 0  %}
                        <td colspan="12">
                        <a href="{% url 'Orders:check-out' %}" class="btn btn-warning float-right ml-2"> Proceed to check out</a>

                        {% else %}
                            <tr>
                            <td colspan="12">
                                <a href="{% url 'Orders:HomePage' %}" class="btn btn-secondary float-right"> Continue Shopping</a>
                            </td>
                            </tr>
                        </td>
                        {% endif %}
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form  method="post" action="{% url 'Orders:Coupon' %}" id="form-coupon">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control p-4"  id="CodeCoupon" placeholder="Coupon Code" name="code-coupon">
                        <div class="input-group-append">
                            <button class="btn btn-primary" >Apply Coupon</button>
                        </div>
                    </div>
                </form>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
{#                    <div class="card-body">#}
{#                        <div class="d-flex justify-content-between mb-3 pt-1">#}
{#                            <h6 class="font-weight-medium">Subtotal</h6>#}
{#                            <h6 class="font-weight-medium">$150</h6>#}
{#                        </div>#}
{#                        <div class="d-flex justify-content-between">#}
{#                            <h6 class="font-weight-medium">Shipping</h6>#}
{#                            <h6 class="font-weight-medium">$10</h6>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="price">{{ object.get_total }}</h5>
                        </div>
                        <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}